/*--------------------------------------------------------------
# Gallery Page
--------------------------------------------------------------*/
.gallery-page {
    position: relative;
    display: block;
    padding: 120px 0 110px;
}

.gallery-page .row {
    --bs-gutter-x: 10px;
}

.gallery-page .container {
    max-width: 1572px;
}

.gallery-page__single {
    position: relative;
    display: block;
}

.gallery-page__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
}

.gallery-page__img:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: var(--finris-black);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scaleY(0) translateZ(100px);
    transform: scaleY(0) translateZ(100px);
    -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease, -webkit-transform 700ms ease;
    z-index: 2;
}

.gallery-page__single:hover .gallery-page__img:before {
    opacity: .90;
    visibility: visible;
    -webkit-transform: scaleY(1) translateZ(0px);
    transform: scaleY(1) translateZ(0px);
}

.gallery-page__img-box {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
}

.gallery-page__img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.gallery-page__icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
}

.gallery-page__icon a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--finris-white);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 2;
}


.gallery-page__single:hover .gallery-page__icon a {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-delay: 500ms;
    opacity: 1;
}

.gallery-page__icon a:hover {
    color: var(--finris-base);
}

.gallery-page__icon button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    opacity: 0;
}

.gallery-page__single:hover .gallery-page__icon button {
    opacity: 1;
    transition: opacity 1.5s ease-out;
}



.grid_container .item {
    overflow: hidden;
    display: block;
}

.grid_container .item_1 {
    grid-area: a;
}

.grid_container .item_2 {
    grid-area: b;
}

.grid_container .item_3 {
    grid-area: c;
}

.grid_container .item_4 {
    grid-area: d;
}

.grid_container .item_5 {
    grid-area: e;
}

.grid_container .item_6 {
    grid-area: f;
}

.grid_container .item_7 {
    grid-area: g;
}

.grid_container .item_8 {
    grid-area: h;
}

.grid_container .item_9 {
    grid-area: i;
}

.grid_container {
    width: 100%;
    display: grid;
    gap: 10px;
    overflow: hidden;
    grid-template-areas:
        "a b c d"
        "e b f g"
        "h h i g";
}

@media only screen and (min-width: 578px) and (max-width: 1199px) {

    .grid_container {
        grid-template-areas:
            "a b"
            "c b"
            "d e"
            "f g"
            "i g"
            "h h";
    }
}

@media screen and (max-width: 576px) {
    .grid_container {
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g"
            "h"
            "i";
    }
}